.event-feed-title-btns {
    margin: -10px -15px;

    .btn {
        height: 100%;
    }
}

.event-feed-header {
    margin-bottom: 20px;

    .btn {
        height: 42px;
        padding: 8px 15px;
        margin-top: 20px;
    }

}
