.event-details {
    border-bottom: 3px solid @brand-primary;
    margin-bottom: 25px;
}

.help-box {
    font-size: 14px;
    margin-bottom: 15px;
    padding-bottom: 0;
}

.map_canvas {
    height: 300px;
}
