@model Angora.Web.Models.EventViewModel

<div class="row">
    <div class="col-lg-4 event-details">
        <h2>@Model.Event.Name</h2>
        <hr />
        <h4>@Model.Event.Description</h4>
        <p>Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet </p>
        <p>Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet </p>
        <p>Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet </p>
        <p>Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet </p>

    </div>

    <div class="col-lg-8">
        <div class="well">
            <p>Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet </p>
            <p>Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet </p>
            <p>Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet Lorem ipsum Dolor sit amet parce boquet </p>

        </div>
    </div>
</div>

