
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@*Y'all can change this later*@
    <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Event")">Create New Event</a>

