@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="jumbotron landing-jumbo landing-jumbo-first">
    <div class="container">
        <h1>About Auderus</h1>
    </div>
</div>
<div class="container">
    <p>
        Auderus is a brand new social networking site designed to make planning and sharing events easier.
        Creating an event is as simple as specifiying as answering <em>what</em>, <em>where,</em> and <em>when</em> your event is.
        If you don't know when you want to have your event, Auderus can help you and your event goers find a time.
        You can easily share photos and comment on events.
        Auderus is completely free, and always will be for you.
    </p>
</div>
<div class="jumbotron landing-jumbo">
    <div class="container">
        <h1>About the Auderus Team</h1>
    </div>
</div>
<div class="container">
    <p>
        The four members of the development team for Auderus are students at the Jeffrey S. Raikes School of Computer Science and Management
        at the University of Nebraska-Lincoln. Frustrated by the hastle of managing events and event media via existing social networks,
        the team set out to build a revolutionary new product to make event planning and media aggregation easier.
        After a semester of hard work, the team is proud to unveil our initial version of Auderus.
    </p>
    <br />
    <div class="row">
        <div class="col-sm-3 about-tile">
            <h4>Michael Hollman</h4>
            <div id="MichaelImg" class="about-page-img"></div>
            <h5>Chief Architect</h5>
        </div>
        <div class="col-sm-3 about-tile">
            <h4>Alex Bainter</h4>
            <div id="AlexImg" class="about-page-img"></div>
            <h5>Mobile Development Specialist</h5>
        </div>
        <div class="col-sm-3 about-tile">
            <h4>Rachael Dahlman</h4>
            <div id="RachaelImg" class="about-page-img"></div>
            <h5>User Interaction Designer</h5>
        </div>
        <div class="col-sm-3 about-tile">
            <h4>Scott Johnson</h4>
            <div id="ScottImg" class="about-page-img"></div>
            <h5>Business Development Lead</h5>
        </div>
    </div>
</div>