@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="jumbotron landing-jumbo landing-jumbo-first">
    <div class="container">
        <h1>Oh Noes...</h1>
    </div>
</div>
<div class="container">
    <h3>You managed to break something...</h3>
    <h3>This is really embarrasing...</h3>
    <h3>We're sorry.</h3>
</div>

