@{
    ViewBag.Title = "Home";
}
<div style="width: 100%; height: 200px; margin: 0px; background: url(/Images/EventImage3.png); background-size:cover; background-repeat: no-repeat; background-position-y:90%; margin-top:-20px">
    <h1 style="color: #fff; font-size: 5em; text-align: center; line-height:200px; font-weight:600">Welcome to Auderus</h1>
</div>
<div>
    <h1>About Auderus</h1>
    <p>
        Auderus is a brand new social networking site designed to make planning and chronicling events easier.
        Creating an event is as simple as specifiying a start time, choosing a location, and inviting facebook friends or twitter followers.
        After the event, Auderus will automatically pull in media that attendees posted during the event either on
        Facebook or Twitter and put it all in one spot. There's no more need to search through multiple social networks to
        find photos or videos from an event you attended. In the near future, Auderus will also be able to suggest events
        in your area that you may be interested in attending. And the best part is Auderus is completely free,
        so there is no reason not to try it. Just sign in with your Facebook or Twitter account to start taking
        advantage of Auderus' amazing features today.
    </p>

</div>
@if (!User.Identity.IsAuthenticated) { 
    <section style="margin-top: 40px;">
        <h4>Please login with your Facebook or Twitter account.</h4>

        <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Facebook", returnUrl = Url.Action("Index", "Home") })" class="btn btn-primary" id="Facebook">
            <img src="/images/logos/fb-white-50.png" class="login-social-img" />
            Facebook
        </a>
        <a href="@Url.Action("ExternalLogin", "Account", new { provider = "Twitter", returnUrl = Url.Action("Index", "Home") })" class="btn btn-primary" id="Twitter">
            <img src="/images/logos/twitter-white.png" class="login-social-img" />
            Twitter
        </a>
    </section>
}

