@{
    ViewBag.Title = "Home";
}
<div style="width: 100%; height: 200px; margin: 0px; background: url(/Images/EventImage3.png); background-size:cover; background-repeat: no-repeat; background-position-y:90%; margin-top:-20px">
    <h1 style="color: #fff; font-size: 5em; text-align: center; line-height:200px; font-weight:600">Welcome to Angora</h1>
</div>
<div>
    <h1>About Angora</h1>
    <p>
        Angora is a new social networking site aimed at making planning events easier. Angora allows you to create, schedule, and invite
        friends for all of your events. Once an event is over, Angora automatically aggregates digital media from the event that was posted
        on other social media sites to make it easy to look back on your great time.
    </p>
    <p>
        We are so sure that you will enjoy Angora, that if you are not satisfied we will give you your money back.
        So sign up today.
    </p>
    <h1>About the Team</h1>
    <table style="border-collapse: separate;">
        <tr><td style="padding: 10px 0px;"><div id="RachaelImg"></div></td><td style="padding: 10px;">Rachael is a hard-working lady that is really good at getting second place.</td></tr>
        <tr><td style="padding: 10px 0px;"><div id="MichaelImg"></div></td><td style="padding: 10px;">Michael is a spooboo.</td></tr>
        <tr><td style="padding: 10px 0px;"><div id="AlexImg"></div></td><td style="padding: 10px;">Alex likes long walks on the beach and baking in his easy bake oven.</td></tr>
        <tr><td style="padding: 10px 0px;"><div id="ScottImg"></div></td><td style="padding: 10px;">Scott is the best.</td></tr>
    </table>
</div>


