@model Angora.Web.Models.EventFeedViewModel

@{
    ViewBag.Title = "Event Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row event-feed-header">
    <div class="col-sm-9">
        <h1>Events</h1>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-primary btn-lg width-100" href="@Url.Action("Create", "Event")"><span class="glyphicon gl glyphicon-plus"></span>  Create New Event</a>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <h4>Your events and events you're going to</h4>
        @Html.Partial("_EventList", Model.ViewersEvents)
    </div>
    <div class="col-sm-6">
        <h4>Other events from Auderus users</h4>
        @Html.Partial("_EventList", Model.OtherEvents)
    </div>
</div>


<script>
    $('.btn').tooltip({ container: 'body' });
</script>