@model Angora.Web.Models.EventSchedulerViewModel

<h2>RSVP to @Model.Event.Name</h2>
@using (Html.BeginForm("RSVP", "EventScheduler", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <button class="btn btn-success" name="response" type="submit" value="@Angora.Data.Models.SchedulerResponse.Yes">Yes!</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" name="response" type="submit" value="@Angora.Data.Models.SchedulerResponse.Maybe">Maybe</button>
        </div>

        <div class="form-group">
            <button class="btn btn-danger" name="response" type="submit" value="@Angora.Data.Models.SchedulerResponse.No">No</button>
        </div>
    </div>
}
